.Login{
  min-height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_conatainer{
  background-color: #D84545;
  padding: 20px;
  margin:0 4%;
  max-width: 400px;
  border-radius: 20px;
}

.LogoCenter{
  display: flex;
  justify-content: center;
}

.LogoInLogin{
  width: 65px;
  height: 65px;
  margin-bottom: 35px;
}
.Center{
  display: flex !important;
  justify-content: center !important;
}
.SignIn{
  background-color: tomato !important;
  color: white !important;
}
.SignIn:hover{
  color: brown !important;
}
